{{import "module/head"}}
{{import "module/header"}}
<link rel="stylesheet" href="css/page/animation.css" type="text/css"/>
<div class="m-sidebar">
	
</div>
<div class="m-content">
	<div class="test-box test-box-fadeIn"></div>

	pen演示
</div>
{{import "module/footer"}}