{{import "module/head"}}
{{import "module/header"}}
<div class="m-content">
	<ul class="m-book-list">
		<li><a href="http://pxtoem.com/" target="_blank">
			<b>PXtoEM</b>
			<em>Font</em>
			<span><i>Description:</i>PX to EM conversion made simple.</span>
		</a></li>
		<li><a href="http://www.cssfontstack.com/" target="_blank">
			<b>CSS Font Stack</b>
			<span><i>Description:</i>Web Safe and Web font family with HTML and CSS code.</span>
		</a></li>
	</ul>
</div>
{{import "module/footer"}}