{{import "module/head"}}
{{import "module/header"}}
<div class="m-content">
	<ul class="m-book-list">
		<li><a href="http://caniuse.com/" target="_blank">
			<b>Can I Use</b>
			<span><i>Description:</i>Support tables for HTML5, CSS3, etc</span>
		</a></li>
		<li><a href="http://www.css3.info/" target="_blank">
			<b>CSS INFO</b>
			<span><i>Description:</i>All you ever needed to know about CSS3</span>
		</a></li>
		<li><a href="https://www.w3.org/" target="_blank">
			<b>W3C</b>
			<span><i>Description:</i>World Wide Web Consortium.</span>
		</a></li>
		<li><a href="http://www.w3schools.com/" target="_blank">
			<b>W3schools</b>
			<span><i>Description:</i>Front-End develop getting started.</span>
		</a></li>
		<li><a href="http://css.doyoe.com/" target="_blank">
			<b>CSS Manual</b>
			<span><i>Description:</i>CSS Reference Manual.</span>
		</a></li>
		<li><a href="http://less.bootcss.com/" target="_blank">
			<b>Less</b>
			<span><i>Description:</i>Less features.</span>
		</a></li>
	</ul>
</div>
{{import "module/footer"}}