{{import "module/head"}}
{{import "module/header"}}
<div class="m-sidebar">
	
</div>
<div class="m-content">
	<p class="notes">
		1.[]表示非必须参数<br>
		2.调用空参数函数时不需要写括号。<br>
		3.调用函数时，后面的分号不可缺省。<br>
	</p>
</div>
{{import "module/footer"}}