{{import "module/head"}}
{{import "module/header"}}
<div class="m-sidebar">
	<a class="u-btn u-btn-download" href="https://github.com/iRuxu/CssLab/releases" target="_blank"><b>Download</b><span>Latest version</span></a>
	<a class="u-btn u-btn-source" href="https://github.com/iRuxu/CssLab" target="_blank"><b>Source Code</b><span>Github</span></a>
</div>
<div class="m-content m-index">
	<h2>Get Started</h2>

	<h3>支持环境</h3>
	<h4>+ LESS/SASS</h4>
	<p>安装nodejs，并使用npm安装less或sass，也可以使用koala等可视化编译器。</p>
	<h4>+ Autoprefixer</h4>
	<p>同时建议安装autoprefixer插件，通过插件指定浏览器前缀版本。</p>

	<h3>引入模块</h3>
	<h4>+ 单独引入指定子函数库</h4>
	<pre><code class="less">
		@import url('base.less');
		@import url('animation.less');
	</code></pre>
	<h4>+ 全部引入（不包含reset）</h4>
	<pre><code class="less">
		@import url('csslab.less');
	</code></pre>

	<blockquote>芒果tv silky ver0.3+版本可以直接使用，在.silky文件中进行配置全局加载的模块（默认除reset外将会全部启用），在silky旧版本中需要将内网csslab项目作为git submodule引入。</blockquote>


	<h2>Introduction</h2>
	<p>csslab是一个动态css依赖库，支持less和sass两个版本。它由一些less/sass自定义函数组成，可快速书写一些常用的css片段并自动进行计算，同时提供一些IE6/7兼容hack和简写，以便能更快捷高效地完成网页重构工作。</p>

	<h3>常见片段</h3>
	<p>例如，常见的让文本禁止换行，溢出的部分处理为显示“...”：</p>
	<pre><code class="less">
		.textline{
		    .nobreak;
		}

		//编译后输出为
		.textline{
		    white-space:nowrap;
		    word-wrap:normal;
		    word-break:keep-all;
		    text-overflow:ellipsis;
		    overflow:hidden;
		}
	</code></pre>

	<h3>自动计算</h3>
	<p>例如，让一个已知尺寸的元素总是自动绝对居中定位：</p>
	<pre><code class="less">
		.fixwindow{
		    .size(400px,300px);
		    .ct(400px,300px);
		}

		//编译后输出为
		.fixwindow{
		    width:400px;
		    height:300px;
		    position:absolute;
		    left:50%;
		    top:50%;
		    margin-left:-200px;
		    margin-top:-150px;
		}
	</code></pre>

	<h3>动画调用</h3>
	<p>传入参数指定动画的时间，并且只有调用该动画时生成对应keyframes，不会因需使用动画库中一个定义帧而要引入全部内容或繁琐地剪切粘贴：</p>
	<pre><code class="less">
		.animate-element{
		    .fadeIn(2s);
		}
		//编译后输出为
		@keyframes fadeIn{
		    0%{opacity:0;}
		    100%{opacity:1;}
		}
		.animate-element{
		    animation-name:fadeIn;
		    animation-duration:2s;
		    animation-timing-function:ease-out;
		    animation-fill-mode:backwards;
		}
	</code></pre>

	<p>绝大多数功能均以函数存在（除个别说明可直接作为class使用外，详见对应手册条目），不调用该函数时，其它内容不会被编译输出在最终css文件中，能有效减少冗余代码加载。</p>
	<p>当多个类需要使用同一个函数组时，可以局部定义一个临时类，其它类继承该类即可。</p>
	<pre><code class="less">
		.tempClass{
		    .pa;.lt(0,0);
		}
		.ex1{
			&:extend(.tempClass);
		}
		...
		.ex2{
			&:extend(.tempClass);
		}
		//编译后输出为
		.tempClass,.ex1,.ex2{
			position:abosulte;left:0;top:0;
		}
	</code></pre>

	<blockquote>csslab，原名Lesslab，是[芒果TV](http://www.mgtv.com) PC Web前端公共库1.0中的一部分，目前它独立作为一个项目在进行。</blockquote>

	<h2>Documentation</h2>
	<ul>
		<li><a href="./base.html">base</a> - 组合常用的IE6-IE8各类HACK，部分CSS快捷的书写方式</li>
		<li><a href="./shape.html">shape</a> - 使用CSS绘制常用的图形</li>
		<li><a href="./animation.html">animation</a> - 基础动画库，提供常见的动画</li>
		<li><a href="./twinkle.html">twinkle</a> - 扩展动画库</li>
		<li><a href="./reset.html">reset</a> - 浏览器样式重置，含部分移动端webkit属性</li>
	</ul>

	<h2>Contribute</h2>
	<ol>
		<li>CSS笔记 - <a href="http://iruxu.com/notebook" target="_blank">http://iruxu.com/notebook</a></li>
		<li>LESS中文手册 <a href="http://less.bootcss.com/features/" target="_blank">http://less.bootcss.com/features/</a></li>
		<li>SASS中文手册 <a href="http://sass.bootcss.com/docs/sass-reference/" target="_blank">http://sass.bootcss.com/docs/sass-reference/</a></li>
		<li>Koala，一款方便的可视化前端编译器 <a href="http://koala-app.com/index-zh.html" target="_blank">http://koala-app.com/index-zh.html</a></li>
		<li>Silky，芒果TV使用的前端开发集成工具 <a href="http://silky.wvv8oo.com" target="_blank">http://silky.wvv8oo.com</a></li>
	</ol>

</div>
{{import "module/footer"}}
