{{import "module/head"}}
{{import "module/header"}}
<div class="m-sidebar">
	<!-- 下载 -->
	<!-- fork -->
</div>
<div class="m-content m-index">
	<h3><b>获取方式</b></h3>
	<h3><b>用途简介</b></h3>
	<h3><b>使用事项</b></h3>
	<h3><b>参考说明</b></h3>
</div>
{{import "module/footer"}}