{{import "module/head"}}
{{import "module/header"}}
<div class="m-sidebar">
	<a class="u-btn u-btn-download" href="https://github.com/iRuxu/CssLab/releases" target="_blank"><b>Download</b><span>Latest version</span></a>
	<a class="u-btn u-btn-source" href="https://github.com/iRuxu/CssLab" target="_blank"><b>Source Code</b><span>Github</span></a>
</div>
<div class="m-content" id="m-content-list">
	<div class="m-content-list-item">
		<h3><b>2017/03</b></h3>
		<h4><b>Base</b></h4>
		<ol>
			<li>新增修改.grid,.grids,.flex,.flexs函数</li>
			<li>新增元件库中v-list函数,更名为.flist</li>
		</ol>
		<h4><b>Shape</b></h4>
		<ol>
			<li>新增arrow位置函数</li>
		</ol>
		<h4><b>Twinkle</b></h4>
		<ol>
			<li>修订.border函数</li>
		</ol>
		<h3><b>2017/02</b></h3>
		<h4><b>Twinkle</b></h4>
		<ol>
			<li>分离伪元素动画独立为本新库</li>
			<li>新增部分动画</li>
		</ol>
		<h4><b>Animation</b></h4>
		<ol>
			<li>分离保留常用函数</li>
			<li>新增部分动画</li>
		</ol>
		<h3><b>2017/01</b></h3>
		<h4><b>Reset</b></h4>
		<ol>
			<li>新增reset说明手册</li>
		</ol>
		<h4><b>Shape</b></h4>
		<ol>
			<li>合并iconfont库至shape库</li>
		</ol>
		<h4><b>Base</b></h4>
		<ol>
			<li>移除.fzlh函数，修改.fz支持1/2/3个参数。</li>
			<li>修改.refont函数为retext。</li>
			<li>合并.pmore至break函数。</li>
			<li>移除.ts,.tmpng函数。</li>
			<li>移除.btn-reset函数。</li>
			<li>新增.gradient函数，快速绘制简易渐变。</li>
			<li>移除.dib写法，新增.df,.dfi,.dg,.dgi,.dgsub。</li>
			<li>移除.auto(y)。</li>
		</ol>
	</div>
</div>
{{import "module/footer"}}
