{{import "module/head"}}
{{import "module/header"}}
<div class="m-sidebar">
	<ul class="m-sidebar-list" id="m-sidebar-list">
		<h4>Archive</h4>
		<li>Base</li>
	</ul>
</div>
<div class="m-content" id="m-content-list">
	<div class="m-content-list-item">
		<h3><b>Base</b><span>v3.2</span><i>2017/1/22</i></h3>
		<ol>
			<li>移除.fzlh函数，修改.fz支持1/2/3个参数。</li>
			<li>修改.refont函数为retext。</li>
			<li>合并.pmore至break函数。</li>
			<li>移除.ts,.tmpng函数。</li>
			<li>移除.btn-reset函数。</li>
			<li>新增.gradient函数，快速绘制简易渐变。</li>
			<li>移除.dib写法，新增.df,.dfi,.dg,.dgi,.dgsub。</li>
			<li>移除.auto(y)。</li>
		</ol>
	</div>
</div>
{{import "module/footer"}}