{{import "module/head"}}
{{import "module/header"}}
<div class="m-sidebar">
	<ul class="m-sidebar-list" id="m-sidebar-list">
		<h4>Archive</h4>
		<li>Base</li>
	</ul>
</div>
<div class="m-content" id="m-content-list">
	<div class="m-content-list-item">
		<h3><b>Base</b><span>v3.2</span><i>2017/1/22</i></h3>
		<ol>
			<li>移除.fzlh函数，.fz支持1/2/3个参数。</li>
		</ol>
	</div>
</div>
{{import "module/footer"}}