{{import "module/head"}}
{{import "module/header"}}
<div class="m-sidebar">
	<h2 class="m-sidebar-title">Twinkle<span>(仅v3-)</span></h2>
	<ul class="m-sidebar-list" id="m-sidebar-list">
		<h4>边框效果</h4>
		<li class="current">.twinkle-border</li>
		<li>.twinkle-borderTop</li>
		<li>.twinkle-borderBottom</li>
		<h4>图像效果</h4>
		<li>.twinkle-glimpse</li>
		<!-- <h4>文字效果</h4>
		<li>.twinkle-textGotop</li>
		<li>.twinkle-textFlip</li> -->
	</ul>
</div>
<div class="m-content" id="m-content-list">

<div class="m-content-list-item">
	<h3><b>.twinkle-border</b><span>(@time:0.6s,@width:2px,@color:#fff)</span><i>绘制边框</i></h3>
	<p>该元素需指定一个子元素（默认为a元素），作用于主元素。</p>
	<p data-height="265" data-theme-id="0" data-slug-hash="dNmMZY" data-default-tab="css,result" data-user="iRuxu" data-embed-version="2" data-pen-title=".twinkle-borderdraw" class="codepen">See the Pen <a href="http://codepen.io/iRuxu/pen/dNmMZY/">.twinkle-borderdraw</a> by iRuxu (<a href="http://codepen.io/iRuxu">@iRuxu</a>) on <a href="http://codepen.io">CodePen</a>.</p>
</div>

<div class="m-content-list-item">
	<h3><b>.twinkle-borderTop</b><span>(@time:0.2s,@border:2px,@color:#0cf,@length:50%)</span><i>上划线</i></h3>
	<p data-height="265" data-theme-id="0" data-slug-hash="wgmGLj" data-default-tab="css,result" data-user="iRuxu" data-embed-version="2" data-pen-title="twinkle-borderTop" class="codepen">See the Pen <a href="http://codepen.io/iRuxu/pen/wgmGLj/">twinkle-borderTop</a> by iRuxu (<a href="http://codepen.io/iRuxu">@iRuxu</a>) on <a href="http://codepen.io">CodePen</a>.</p>
</div>

<div class="m-content-list-item">
	<h3><b>.twinkle-borderBottom</b><span>(@time:0.2s,@border:2px,@color:#0cf,@length:50%)</span><i>下划线</i></h3>
	<p data-height="265" data-theme-id="0" data-slug-hash="VPXjLb" data-default-tab="css,result" data-user="iRuxu" data-embed-version="2" data-pen-title="twinkle-borderBottom" class="codepen">See the Pen <a href="http://codepen.io/iRuxu/pen/VPXjLb/">twinkle-borderBottom</a> by iRuxu (<a href="http://codepen.io/iRuxu">@iRuxu</a>) on <a href="http://codepen.io">CodePen</a>.</p>
</div>
<div class="m-content-list-item">
	<h3><b>.twinkle-glimpse</b><span>(@time:0.5s,@from:-100%,@to:100%)</span><i>一缕阳光</i></h3>
	<p data-height="265" data-theme-id="0" data-slug-hash="BprKQR" data-default-tab="css,result" data-user="iRuxu" data-embed-version="2" data-pen-title="twinkle-glimpse" class="codepen">See the Pen <a href="http://codepen.io/iRuxu/pen/BprKQR/">twinkle-glimpse</a> by iRuxu (<a href="http://codepen.io/iRuxu">@iRuxu</a>) on <a href="http://codepen.io">CodePen</a>.</p>
</div>
<!-- <div class="m-content-list-item">
	<h3><b>.twinkle-textGotop</b><span>(@time:0.2s)</span><i>上浮显示</i></h3>
	<p>应给上级元素设置overflow:hidden;</p>
	<p data-height="265" data-theme-id="0" data-slug-hash="QdmEvP" data-default-tab="css,result" data-user="iRuxu" data-embed-version="2" data-pen-title="QdmEvP" class="codepen">See the Pen <a href="http://codepen.io/iRuxu/pen/QdmEvP/">QdmEvP</a> by iRuxu (<a href="http://codepen.io/iRuxu">@iRuxu</a>) on <a href="http://codepen.io">CodePen</a>.</p>
</div>
<div class="m-content-list-item">
	<h3><b>.twinkle-textFlip</b><span>(@time:1s)</span><i>翻转显示</i></h3>
	<p data-height="265" data-theme-id="0" data-slug-hash="vgRLao" data-default-tab="css,result" data-user="iRuxu" data-embed-version="2" data-pen-title="flip" class="codepen">See the Pen <a href="http://codepen.io/iRuxu/pen/vgRLao/">flip</a> by iRuxu (<a href="http://codepen.io/iRuxu">@iRuxu</a>) on <a href="http://codepen.io">CodePen</a>.</p>
</div> -->

<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
</div>
{{import "module/footer"}}