@import url('booticon.css');
@import url('iconfont.css');
/*
Common.less v0.1 - [2014.11.15]
https://github.com/iRuxu/iruxucss
*/
/*
Reset.less v0.5 - [2014.11.13]
https://github.com/iRuxu/iruxucss
*/
@charset "utf-8";
html {
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body,
header,
footer,
hgroup,
menu,
nav,
section,
article,
aside,
details,
figcaption,
figure,
div,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
legend,
button,
input,
textarea,
form,
th,
td {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
blockquote,
q {
  quotes: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ol {
  list-style: none outside none;
}
fieldset,
iframe {
  border: 0 none;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0 none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  vertical-align: middle;
}
input {
  padding: 0;
  margin: 0;
}
input[type='button'],
button {
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}
button,
input[type=button],
input[type=submit],
input[type='reset'] {
  cursor: pointer;
  *overflow: visible;
  -webkit-appearance: button;
}
button::-moz-focus-inner,
button::-moz-focus-outer,
input::-moz-focus-inner,
input::-moz-focus-outer {
  margin: 0;
  padding: 0;
  border: 0 none;
}
input[type=search] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
a {
  text-decoration: none;
}
a:hover,
a:active,
:focus {
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
strong {
  font-weight: normal;
}
address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}
code,
kbd,
pre,
samp,
tt {
  font-family: consolas, 'Courier New', monospace, serif;
}
small {
  font-size: 80%;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
abbr[title],
acronym[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
/*
Base.less v0.5 - [2014.11.13]
https://github.com/iRuxu/iruxucss
*/
.nobreak {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.break {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal !important;
}
.db {
  display: block;
}
.dbi {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.none {
  display: none;
}
.hide {
  visibility: hidden;
}
.clip {
  overflow: hidden;
  *zoom: 1;
}
.fl {
  float: left;
  _display: inline;
}
.fr {
  float: right;
  _display: inline;
}
.pr {
  position: relative;
  *zoom: 1;
}
.pa {
  position: absolute;
}
.ps {
  position: static !important;
}
.ct {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.clear {
  *zoom: 1;
}
.clear:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}
.hr {
  clear: both;
}
/*
Animation.less v0.1 - [2014.11.15]
https://github.com/iRuxu/iruxucss
*/
@-webkit-keyframes toUp {
  49% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  50% {
    opacity: .3;
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toUp {
  49% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  50% {
    opacity: .3;
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    color: #333;
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #ff3399;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    color: #333;
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    color: #333;
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #ff3399;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    color: #333;
  }
}
.shark i {
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: skewx(-25deg);
  -ms-transform: skewx(-25deg);
  transform: skewx(-25deg);
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}
.shark:hover i {
  left: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}
html,
body {
  color: #333333;
  background: #f1f1f1;
  font-size: 12px;
  line-height: 180%;
  font-family: "\5FAE\8F6F\96C5\9ED1", Consolas, 'Trebuchet MS', Verdana, Helvetica, Arial, Sans-serif;
}
a:link {
  color: #336699;
}
a:visited {
  color: #336699;
}
a:hover {
  color: #ff0000;
}
a:active {
  color: #00ccff;
}
mark {
  background: #ff3399;
  color: #333333;
}
::-moz-selection {
  background-color: #ff3399;
  color: #333333;
}
::selection {
  background-color: #ff3399;
  color: #333333;
}
.test {
  _border: 1px dashed #4AFFFF;
}
.test:hover {
  outline: 1px dashed #4AFFFF;
  background: rgba(0, 204, 255, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#3300ccff, endColorstr=#3300ccff);
}
.test2 {
  outline: 1px dashed #4AFFFF;
  _border: 1px dashed #4AFFFF;
}
