/*
Mobile.less v0.4 - [2015.2.13]
https://github.com/iRuxu/iruxucss
*/

//Import
	@charset "utf-8";
	@import url('module/base.less');

//Var
	@basecolor:#EA6D19;
	@color:#fff;
	@bgcolor:#980002;
	@url:"../../image";

//Global & Reset
	html{
		font-size:62.5%;
		-webkit-overflow-scrolling:touch;}
	body{
		background-color:@bgcolor;color:@color;
		-webkit-touch-callout:none;-webkit-text-size-adjust:none;
	}
	input[type="submit"],input[type="reset"],input[type="button"],button {
		-webkit-appearance:none;
	}
	*{
		margin:0;padding:0;border:0;outline:0;
		font-size:1.4rem;line-height:1;
		-webkit-backface-visibility:hidden; -webkit-transform-style:preserve-3d;
		-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	}
	ul{
		list-style:none;
	}


//Responsive
 @media only screen and (orientation:portrait){}
 @media only screen and (orientation:landscape){}