/*
Resetcss v0.4 - [2014.11.12]
iRuxu's Base Css File
https://github.com/iRuxu/resetcss
*/


// =Reset
//--------------------------------------------------------------
    @charset "utf-8";

    //quick regional rollback for mac,google base font
    html{-webkit-overflow-scrolling:touch;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}

    //clear the padding & margin,browser default style
    body,header,footer,hgroup,menu,nav,section,article,aside,details,figcaption,figure,div,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,legend,button,input,textarea,form,th,td
    {margin:0;padding:0;vertical-align:baseline;}
    blockquote,q {quotes:none;}
    table {border-collapse:collapse;border-spacing:0;}
    ul,ol{list-style:none outside none;}
    fieldset,iframe{border:0 none;}
    img{-ms-interpolation-mode:bicubic;border:0 none;}  //for ie7 image zoom

    //html5 elements style for ie
    article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{.db;}
    audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}

    //Unity the form style
    button,input,select,textarea{font-family:inherit;font-size:100%;vertical-align:middle;} 
    input{padding:0;margin:0;}
    input[type='button'],button{cursor:pointer;}
    button[disabled],input[disabled]{cursor: default;}
    textarea{overflow:auto;resize:vertical;vertical-align:top;}
    //+for safari button,you can change the 'button' with 'none'
    button,input[type=button],input[type=submit],input[type='reset']{
    cursor:pointer;*overflow:visible;
    -webkit-appearance:button;} 
    //+for firefox button style
    button::-moz-focus-inner,button::-moz-focus-outer,input::-moz-focus-inner,input::-moz-focus-outer{margin:0;padding:0;border:0 none;} 
    //+for chrome search input type style
    input[type=search]{box-sizing: content-box;-webkit-appearance:textfield;}
    input[type='search']::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration{-webkit-appearance:none;}

    //Unity the font style
    a{text-decoration:none;}
    a:hover,a:active,:focus{outline:0;}
    h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
    strong{font-weight:normal;}
    address,cite,dfn,em,var,i{font-style:normal;}
    code,kbd,pre,samp,tt{font-family:consolas,'Courier New',monospace,serif;}
    small{font-size:80%;}
    pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
    sub,sup{font-size: 75%;line-height:0;position:relative;vertical-align:baseline;}
    sup{top:-.5em;}
    sub{bottom:-.25em;}
    abbr[title],acronym[title]{cursor:help;border-bottom: 1px dotted;}


//=Package
//--------------------------------------------------------------
    .clear{
        *zoom:1;
        &:after {content:"\200B"; .db; height:0; clear:both;}
    }
    .hr{clear:both;}
    //font write mode
    .nobreak{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
    .break{word-wrap:break-word;word-break:break-all;white-space:normal !important;}
    //ie hack
    .db{display:block;}
    .dbi{display:inline-block;*display:inline;*zoom:1;}
    .hidden{overflow:hidden;*zoom: 1;}
    .fl{float: left;_display: inline;}
    .fr{float: right;_display: inline;}
    .pr{position: relative;*zoom: 1;}
    .pa{position: absolute;}
    .ps{position: static !important;}
    .ct{position:absolute;margin:auto;left:0;top:0;right:0;bottom:0;}
    //+for ie6 position fixed
    .fixed(lt,@fix){
        position: fixed;
        left:0px;
        top:0px;
        z-index: 999;
        _position:absolute;
        _top:~'expression(eval(document.documentElement.scrollTop + @{fix}))';
        overflow:hidden; 
        *zoom:1;
    }
    .fixed(rt,@fix){
        position: fixed;
        right:0px;
        top:0px;
        z-index: 999;
        _position:absolute;
        _top:~'expression(eval(document.documentElement.scrollTop + @{fix}))';
        overflow:hidden; 
        *zoom:1;
    }
    .fixed(lb,@fix){
        position: fixed;
        left:0px;
        bottom:0px;
        z-index: 999;
        _position:absolute;
        _top:~'expression(eval(document.documentElement.scrollTop + document.documentElement.clientHeight - this.offsetHeight + @{fix}))';
        overflow:hidden; 
        *zoom:1;
    }
    .fixed(rb,@fix){
        position: fixed;
        right:0px;
        bottom:0px;
        z-index: 999;
        _position:absolute;
        _top:~'expression(eval(document.documentElement.scrollTop + document.documentElement.clientHeight - this.offsetHeight + @{fix}))';
        overflow:hidden; 
        *zoom:1;
    }
    //+for ie transparent
    .tm(@tm){
        @alpha:@tm*100;
        opacity:@tm; //ie9 webkit etc.
        filter:alpha(opacity=@alpha); //ie5-ie7
    }
    .rgba(@r,@g,@b,@tm){
        @rgba:rgba(@r,@g,@b,@tm);
        @ietm:argb(@rgba);
        background: @rgba;
        filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=@ietm, endColorstr=@ietm);
    }
    .tmpng(@url){ 
        //please and a url like 'img/images.png' , dont's lose the quotes
        //you should let this css file are the same path with html file
        //or you should add a absolute path
        background-image:url(@url);
        _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=@url);
        // a{_position:relative;} maybe you can delete this line
    }
    //+for ie6 size
    .min-height(@min-height){
        min-height:@min-height;
        _height:@min-height;
    }

    //other quick style
    .x-align(@text-align:center){text-align:@text-align;}
    .y-align(@vertical-align:middle){vertical-align:@vertical-align;}

    //+the item style
    .items(fk){list-style:square;}
    .items(dian){list-style:disc;}
    .items(quan){list-style:circle;}
    .items(num){list-style:decimal;}
    .items(01){list-style:decimal-leading-zero;}
    .items(i){list-style:lower-roman;}
    .items(I){list-style:upper-roman;}
    .items(a){list-style:lower-alpha;}
    .items(A){list-style:upper-alpha;}
    .items(@_){padding-left:40px;} //you can change the number here,but if the num is zero,and the item style will be no effect

    //+the simple gradient
    //more complex css3 style you can make it on http://iruxu.com/to-be-css/
    .gr-l(@point,@colorA,@colorB){background-image:linear-gradient(@point,@colorA,@colorB)}
    .gr-c(@center,@colorA,@colorB){background-image:radial-gradient(@center,@colorA,@colorB)}

    //placeholder style
    .tips(@color,@size:12px,@align:left){
        &:-moz-placeholder {
            color: @color;
            font-size:@size;
            text-align:@align;
        }
        &:-ms-input-placeholder {
            color: @color;
            font-size:@size;
            text-align:@align;
        }
        &::-webkit-input-placeholder {
            color: @color;
            font-size:@size;
            text-align:@align;
        }
    }

// =Font
//--------------------------------------------------------------
    @font-face {
        font-family: 'iconfont';
        src: url('http://at.alicdn.com/t/font_1415709444_5735674.eot'); 
        src: url('http://at.alicdn.com/t/font_1415709444_5735674.eot?#iefix') format('embedded-opentype'), 
        url('http://at.alicdn.com/t/font_1415709444_5735674.woff') format('woff'), 
        url('http://at.alicdn.com/t/font_1415709444_5735674.ttf') format('truetype'), 
        url('http://at.alicdn.com/t/font_1415709444_5735674.svg#iconfont') format('svg'); 
    }

    .iconfont{
        font-family:"iconfont";
        font-style:normal;
        .dbi;
        -webkit-font-smoothing: antialiased; 
        -webkit-text-stroke-width: 0.2px;
    }

// =Animation
//--------------------------------------------------------------
    @keyframes toUp{
        49%{transform:translateY(-100%)}
        50%{opacity:.3;transform:translateY(40%)}
        51%{opacity:1}
    }

// =Base var
//--------------------------------------------------------------
    @basecolor:#ff3399;
    @color:#333;
    @linkcolor:#369;
    @hovercolor:#ff0000;
    @activecolor:#00ccff;
    @bgcolor:#f1f1f1;
    @url:"img";

// =Common
//--------------------------------------------------------------
    .clearfix:after {content:"\200B";.db;height:0;clear:both;}
    .clearfix{*zoom:1;}

    html,body{color:@color;background:@bgcolor;
        font-size:12px;line-height: 180%;
        font-family: "\5FAE\8F6F\96C5\9ED1",'Helvetica Neue',Helvetica,Arial,Sans-serif;}
    a:link{color:@linkcolor;}
    a:visited{color:@linkcolor;}
    a:hover{color:@hovercolor;}
    a:active{color:@activecolor;}
    mark{color:#000;background:@basecolor;}
    ::selection{background-color:@basecolor;color:@color;}

    //for test
    .x{&:hover{outline: 1px dashed #4AFFFF;.rgba(0,204,255,.2);}_border:1px dashed #4AFFFF;}
    .x2{outline: 1px dashed #4AFFFF;_border:1px dashed #4AFFFF;}

// =Responsive
//--------------------------------------------------------------
//iPad
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait){}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape){}

//phone
@media only screen and (min-device-width:320px) and (max-device-width:720px) and (orientation:portrait){}
@media only screen and (max-device-width:960px) and (orientation:landscape){}

