// =Reset
//--------------------------------------------------------------
@charset "utf-8";
html{-webkit-overflow-scrolling:touch;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body,header,footer,hgroup,menu,nav,section,article,aside,details,figcaption,figure,div,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,legend,button,input,textarea,form,th,td
{margin:0;padding:0;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
blockquote,q {quotes:none;}
//table & list
table {border-collapse:collapse;border-spacing:0;}
ul,ol{list-style:none outside none;}
//img & frame
fieldset,iframe{border:0 none;}
img{vertical-align:middle;-ms-interpolation-mode:bicubic;border:0 none;}
//form
legend{padding:0;white-space:normal;border:0;*margin-left:-7px;}
button,input,select,textarea{font-family:inherit;font-size:100%;vertical-align:baseline;*vertical-align:middle;}
button,input[type=button],input[type=submit],input[type='reset']{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
button::-moz-focus-inner,button::-moz-focus-outer,input::-moz-focus-inner,input::-moz-focus-outer{margin:0;padding:0;border:0 none;}
input[type=search]{box-sizing: content-box;-webkit-appearance:textfield;}
input[type='search']::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration{-webkit-appearance:none;}
textarea{overflow:auto;resize:vertical;vertical-align:top;}
//font
a{text-decoration:none;}
a:hover,a:active,:focus{outline:0;}
body,button,input,select,textarea{font:12px/1.5 Tahoma,Helvetica,Arial,'\5FAE\8F6F\96C5\9ED1',sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
strong{font-weight:normal;}
address,cite,dfn,em,var,i{font-style:normal;}
code,kbd,pre,samp,tt{font-family:consolas,'Courier New',monospace,serif;}
small{font-size:80%;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
sub,sup{font-size: 75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
abbr[title],acronym[title]{cursor:help;border-bottom: 1px dotted;}
mark{color:#000;background:#E55B00;}



// =Common
//--------------------------------------------------------------
.clearfix:after {content:"\200B";display:block;height:0;clear:both;}
.clearfix{*zoom:1;}
.clear{font-size: 0;clear: both;height: 0;}


//=LESS
//--------------------------------------------------------------
//Base var for path or color
@color:#fff;
@url:"img";

//Package var for model
.font-size(@font-size){font-size:@font-size;line-height:1.5;}
.bold(@bold:bold){font-weight:@weight;}
.italic(@italic:italic){font-style:@italic;}
.uppercase(@uppercase:uppercase){text-transform:@uppercase;}
.nobreak(@this-width:100%){overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width:@this-width;}
.break{word-wrap:break-word;word-break:break-all;}
.x-align(@text-align){text-align:@text-align;}
.y-align(@vertical-align){vertical-align:@vertical-align;}

.tm(@tm){@alpha:@tm*100;filter:alpha(opacity=@alpha);opacity:@tm;}
.rgba(@r,@g,@b,@tm){
	@rgba:rgba(@r,@g,@b,@tm);
	@ietm:argb(@rgba);
	background: @rgba;
	_background: rgb(@r,@g,@b);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=@ietm, endColorstr=@ietm);
}
.rgba-color(@r,@g,@b,@tm){
	@rgba:rgba(@r,@g,@b,@tm);
	@ietm:argb(@rgba);
	color: @rgba;
	_color: rgb(@r,@g,@b);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=@ietm, endColorstr=@ietm);
}
.tm-png(@url){ //!add a absolute path
	background:url(@url) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=@url);
	a{_position:relative;}
}

.max-width(@max-width){max-width:@max-width;_width:@max-width;overflow:hidden;}
.max-height(@max-height){max-height:@max-height;_height:@max-height;overflow:hidden;}
.min-width(@min-width){min-width:@min-width;_width:@min-width;}
.min-height(@min-height){min-height:@min-height;_height:@min-height;}

.none{display:none!important;}
.db{display:block;}
.dbi{display:inline-block;*display:inline;*zoom:1;}
.hidden{visibility: hidden;}
.visible{visibility: visible;}
.overflow{overflow:hidden;*zoom: 1;}

.center{margin-left:auto;margin-right:auto;}
.fl{display: inline;float: left;}
.fr{display: inline;float: right;}
.por{position: relative;*zoom: 1;}
.poa{position: absolute;}
.pos{position: static;}

.bo(@bo){border:@bo;}
.bo(l,@bo-width,@bo-style,@bo-color:#ccc){border-left:@bo-width @bo-style @bo-color;}
.bo(r,@bo-width,@bo-style,@bo-color:#ccc){border-right:@bo-width @bo-style @bo-color;}
.bo(t,@bo-width,@bo-style,@bo-color:#ccc){border-top:@bo-width @bo-style @bo-color;}
.bo(b,@bo-width,@bo-style,@bo-color:#ccc){border-bottom:@bo-width @bo-style @bo-color;}

.text-shadow(@text-shadow-style, @text-shadow-color:#ccc){text-shadow:@text-shadow-style  @text-shadow-color;}
.box-shadow(@box-shadow-style,@box-shadow-color:#ccc){box-shadow:@box-shadow-style @box-shadow-color}

.radius(@radius){border-radius:@radius;}
.radius(lt,@radius){border-top-left-radius: @radius;}
.radius(lb,@radius){border-bottom-left-radius: @radius;}
.radius(rt,@radius){border-top-right-radius: @radius;}
.radius(rb,@radius){border-bottom-right-radius: @radius;}

.items(fk){list-style:square;}
.items(dian){list-style:disc;}
.items(quan){list-style:circle;}
.items(num){list-style:decimal;}
.items(01){list-style:decimal-leading-zero;}
.items(i){list-style:lower-roman;}
.items(I){list-style:upper-roman;}
.items(a){list-style:lower-alpha;}
.items(A){list-style:upper-alpha;}
.items(@_){padding-left:40px;}

.cursor(@cursor:pointer){cursor:@cursor;}

.gr-l(@point,@colorA,@colorB){background-image:linear-gradient(@point,@colorA,@colorB)}
.gr-c(@center,@colorA,@colorB){background-image:radial-gradient(@center,@colorA,@colorB)}



// =Responsive
//--------------------------------------------------------------
//iPad
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape){}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait){}
//phone
@media only screen and (max-device-width:960px) and (orientation:landscape){}
@media only screen and (min-device-width:320px) and (max-device-width:720px) and (orientation:portrait){}

