@import url('base.less');
/*@import url('animation.less');*/
/*@import url('ui.less');*/
/*@import url('grandient.less');*/

*{padding:0;margin:0;}
html,body{height:100%;font-size:30px;}
.box{background-color: #FFFF00;/*width:50%;height:50%;margin:0 auto;position: relative;*/
width:800px;height:600px;//text-align:center;

}

.w{.dbi;text-indent:50px;}
h1{color:#ff3399;}
.q{color:#00ccff;}
.span{
.none;
}
.po{background-color:#000;color:#fff;height:200px;.pa;.none;}

.a{background-color:#ff3399;height:60px;
	//.ts(50);
	border:50px solid transparent;
	//.dbi;vertical-align:middle;
	//margin-top:100px;
width:200px;height:200px;
	.fixed(ct,200,200);
//.y;
//margin-bottom:-200px;padding-bottom:200px;

//绝对定位
//.pa;top:0;bottom:0;margin:auto;
//.pa;left:50%;top:50%;margin-left:-100px;margin-top:-100px;
//.pa;top:20px;bottom:20px;left:20px;right:20px;
//.ct(x);

}



.x{background-color:#000;display:inline-block;	.none;	}

.b{background-color:#00ccff;height:200px;width:200px;//.dbi;vertical-align:middle;

	margin-top:-50px;.none;
}

.c{line-height:40px;vertical-align:middle;
.none;
}

.d{
vertical-align:middle;
.none;
}

.e{
.none;
vertical-align:middle;

}

.f{
.none;
}

