@import url('src/animation.less');
/*@temp1:goTop_;
@temp2:@temp1+`Math.round(Math.random() * 1.0e8)`;
@test:@temp2;*/

.test{
	background-color:#f39;
	width:200px;
	height:200px;
	margin-top:400px;
	//color: @test;
	.fadeIn(2s);

	//.goBottom();
}
/*@keyframes @test{
    from{opacity:0;}
    to{opacity:1;}
}*/



//一个样式表中只能使用该函数一次