<!DOCTYPE html>
<html lang="zh-CN">
<!--[if IE 7 ]> <html class="ie7" lang="zh-CN"> <![endif]-->
<!--[if lt IE 9 ]> <html class="ie6-8" lang="zh-CN"> <![endif]-->
<!--[if lt IE 10 ]> <html class="ie6-9" lang="zh-CN"> <![endif]-->
<head>
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
{{import "module/head"}}
<link rel="stylesheet" href="{{global.cssroot}}/ex.css" type="text/css"/>
</head>
<body>



<script honey="lib:jquery">
	//调用
</script>

</body>
</html>