<div class="m-top">
	<div class="m-rainbow"></div>
	<div class="m-header">
		<h1 class="m-logo">
			<a class="u-name" href="/index.html">Csslab</a>
			<em class="u-domain"><span>.CC</span></em>
			<a class="u-type" href="http://www.mgtv.com" target="_blank"><i></i>MGTV</a>
		</h1>
		<div class="m-author">
			<a class="u-github" href="https://github.com/iRuxu/CssLab" target="_blank">Github</a>
		</div>
		<div class="m-menu">
			<ul>
				<li class="on">
					<a class="m-menu-item" href="/index.html">Reference</a>
					<ul class="m-submenu">
						<li class="on"><a class="m-submenu-item" href="/index.html">Base</a></li>
						<li><a class="m-submenu-item" href="/shape.html">Shape</a></li>
						<li><a class="m-submenu-item" href="/animation.html">Animation</a></li>
						<li><a class="m-submenu-item" href="/twinkle.html">Twinkle</a></li>
						<!-- <li><a class="m-submenu-item" href="/gradient.html">Gradient</a></li> -->
						<li><a class="m-submenu-item" href="/reset.html">Reset</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="m-submenu-bg"></div>
</div>
<script>
	var pathname = location.pathname;
	if(pathname != '/'){
		$('.m-menu li, .m-submenu li').removeClass('on');
		$('.m-submenu-item, .m-menu-item').map(function(index, item){
			var $item = $(this);
			if($item.attr('href') == pathname) {
				$item.parents('li').addClass('on');
			}
		})
	}
</script>
