<div class="u-col">
    <div class="u-block">
        <h3>其它<span>-</span></h3>
        <div class="u-list">
            <h4>[<span>-</span>] 语法与规则</h4>
            <ul>
                <li>
                    <a href="">@charset</a>
                    <span>@charset "utf-8";
                    <br>在外部样式表文件内使用。指定该样式表使用的字符编码。
                    <br>该规则后面的分号是必需的，如果省略了此分号，会生成错误信息。</span>
                </li>
                <li>
                    <a href="">@import</a>
                    <span>指定导入的外部样式表
                    <br>@import url("global.css");
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>