<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
{{import "module/head"}}
<link rel="stylesheet" href="{{global.root}}css/main.css" type="text/css"/>
</head>
<body>



<script honey="lib:jquery , plugin_respond , mod_name">
	//调用
</script>

</body>
</html>